.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.tei > .tei-text .tei-note {
    display: none;
}

.tei-note {
    padding: 10px;
    display: block;
    background-color: #fff3f3;;
    font-weight: bold;
}

.tei > .tei-text .tei-note-ref {
    vertical-align: super;
    color: #FF6464;
    margin-left: -5px;
    display: inline-flex;
    cursor: pointer;
}

#content-info .tei-note-num {
    color: #FF6464;
    margin-right: 5px;
    display: inline-flex;
}

.tei > .tei-entities > .tei-entity {
    float: left;
    display: none;
}

.tei-entity-data h5 {
    margin: 5px 0;
}

.tei > .tei-text ol, .tei > .tei-text ul {
    list-style-type: none;
}

.tei > .tei-text table {
    width: 100%;
}

.tei > .tei-text table tr th {
    text-align: left;
}

.tei > .tei-text table tr th,
.tei > .tei-text table tr td {
    padding: 5px;
}

#language-selector {
    margin: 0;
    padding: 0;
    display: inline;
    list-style-type: none;
    overflow: auto;
}

#language-selector li {
    float: left;
}

#document-metadata #content-files {
    position: relative;
    right: 0;
    float: right;
    margin: 0 -300px 0 0;
}

.content-info-entity {
    margin: 0;
    max-height: none;
}

.content-info-entity-body {
    padding: 0;
}

/** Neatline overrides **/
.content > .content-info-entity-body {
    border: 1px solid var(--colorBorderContent);
}

.content-info-entity-body > .content-info-entity-note {
    max-height: 360px;
    overflow-y: auto;
    padding: 0 18px 18px 18px;
    border-bottom: 1px solid var(--colorBorderContent);
}

.element-text-page .element-text-page-icon {
    float: left;
    font-size: 16px;
    margin: 3px 6px 0 3px;
}

.content-info-entity.affixed, #content-info .tei-note.affixed {
    position: fixed;
    top: 20px;
}

.content-info-entity-body > ul.content-info-entity-footer {
    border-top: none;
    margin: 0;
    padding: 0;
}

.content-info-entity-body .content-info-entity-footer li {
    border-bottom: 1px solid var(--colorBorderContent);
    background-color: #fefefe;
}

.content-info-entity-body > ul.content-info-entity-footer :last-child {
    border-bottom: none;
}

.content-info-entity-body .content-info-entity-footer a {
    display: block;
    padding: 5px 18px;
    vertical-align: middle;
    line-height: 1.8;
}

.content-info-entity-body .content-info-entity-footer a > * {
    vertical-align: middle;
}

.content-info-entity-body .content-info-entity-footer a:hover {
    background-color: rgba(82, 168, 236, 0.1);
    text-decoration: none;
}

.content-info-entity-body .content-info-entity-footer a .material-icons {
    margin-right: 4px;
}

#exhibit-blocks > .exhibit-block .search-result {
    width: 100%;
}

#neatline-narrative .element-text-page {
    font-weight: bold;
}

#neatline-narrative .element-text-page-icon {
    display: none;
}