.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.tei-entity-ref {
    border-bottom: 1px dotted lightgrey;
}

.tei > .tei-entities > .tei-entity {
    float: left;
    display: none;
}

.tei-entity-data h5 {
    margin: 5px 0;
}

#language-selector {
    margin: 0;
    padding: 0;
    display: inline;
    list-style-type: none;
    overflow: auto;
}

#language-selector li {
    float: left;
}