{% if images %}
<div id="photogallery-container">
    <div id="photogallery" itemscope="" itemtype="http://schema.org/ImageGallery">
        {% for image in images %}
        <figure class="gallery-item" itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject">
            <a itemprop="contentUrl" href="{{ image.path }}" data-size="{{ image.resolution }}">
                <img src="{{ image.thumb }}" alt="{{ image.name }}" title="{{ image.name }}">
            </a>
        </figure>
        {% endfor %}
    </div>
    <div id="content-files-zoom-icon" class="material-icons">zoom_in</div>
    <div id="content-files-gallery-icon" class="material-icons">insert_drive_file</div>
    <div id="content-files-counter">{{ images|length }}</div>
</div>
{% endif %}
